:root {
  --primary-color: #EE671D;
  --ssecondary-color: #0D0907;
  --title-color: #0081A7;
  --color-dark: #FFFEFD;
}


.nav-item {
  color: #FFFEFD;
}
.nav-item:hover {
  color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color) !important;
}

.py-6 {
  padding-bottom: 2rem!important;
  padding-top: 2rem!important;
}

@media (min-width: 768px) {
  .py-md-8 {
    padding-bottom: 3rem!important;
    padding-top: 3rem!important;
  }
}

.form-control:read-only {
  background-image: none;
}

.download-apple {
  background: url(/assets/img/download_buttons.svg) 0 -50px;
}

.download-app-image {
  width: 160px;
  height: 50px;
  display: block;
  margin: 10px auto;
}

.download-play {
  background: url(/assets/img/download_buttons.svg) 0 -101px;
}

.token__info-list li {
  font-weight: 400;
  color: #aab2cd;
  margin-bottom: 5px;
}

.token__info-list li span {
  width: 200px;
  color: #fff;
  font-weight: 700;
  margin-right: 15px;
}

@media (min-width: 576px) {
  .token__info-list li span {
    margin-right: 50px;
  }
  .token__info-list li {
    display: flex;
  }
}


/*
!!!!
This pen is being refactored
!!!!
*/


.time{
  display: var(--timeDisplay, inline-flex);
}

/*
skin
*/

.time{
  padding: var(--timePadding, .25rem 1.25rem .25rem);
  background-color: var(--timeBackgroundColor, #f0f0f0);

  font-size: var(--timeFontSize, .75rem);
  font-weight: var(--timeFontWeight, 700);
  text-transform: var(--timeTextTransform, uppercase);
  color: var(--timeColor, currentColor);
}

/*
card component
*/

/*
core styles
*/



/*
extensions
*/


.timeline{
  display: var(--timelineDisplay, grid);
  grid-row-gap: var(--timelineGroupsGap, 2rem);
  grid-column-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}



.timeline{
  --uiTimelineMainColor: var(--timelineMainColor, #222);
  --uiTimelineSecondaryColor: var(--timelineSecondaryColor, #fff);

  border-left: var(--timelineLineWidth, 3px) solid var(--timelineLineBackgroundColor, var(--uiTimelineMainColor));
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.timeline__year{
  --timePadding: var(--timelineYearPadding, .5rem 1.5rem);
  --timeColor: var(--uiTimelineSecondaryColor);
  --timeBackgroundColor: var(--uiTimelineMainColor);
  --timeFontWeight: var(--timelineYearFontWeight, 400);
}

.timeline__card{
  position: relative;
  margin-left: var(--timelineCardLineGap, 1rem);
}

.timeline{
  --timelineMainColor: #EE671D;
}

/*




